body {
  display: grid;
  grid-template-rows: 40px auto 40px;
}

@media (max-width: 750px) {
  body {
    height: auto;
  }
}

@media (min-width: 750px) {
  body {
    height: 100vh;
  }
}

header, main, footer {
  padding: 10px;
}

header, footer {
  color: white;
  background-color: #2f3652;
  z-index: 2;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}